#gameTitle {
    text-align: center;
    text-decoration: underline;
}

#gameContainer{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

#computer{
    margin-bottom:5px;
}

#opponentContainer {
    margin-right: 8em;
    display:flex;
    flex-direction: column;
    align-items: center;

}

#playerContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.break {
    flex-basis: 100%;
}

#resultContainer{
    display:flex;
    justify-content: center;
}

#scoreContainer {
    display:flex;
    justify-content: space-evenly;
}
